<div class="row-fluid">
    <div>
        <!-- ko with: newDashboard -->
        <input type="text" class="span12" data-bind="value: title" placeholder="Title"/>
        <input type="number" class="span12" data-bind="value: columnsCount" placeholder="Columns count"/>
        <!-- /ko -->
        <div class="offset9 span5">
            <button class="btn btn-primary" data-bind="command: saveCmd, activity: saveCmd.isExecuting">
                <i class="icon-white icon-ok"></i> Save
            </button>
        </div>
    </div>
    <!--/span-->
</div>