<div class="box grad_colour_dark_blue" data-bind="attr: { id: 'box_' + $index() }">
    <h2 class="box_head round_top" data-bind="text: title"></h2>
    <div class="toggle_container">
        <div class="block box_content round_bottom" style="padding: 15px;">
            <input type="text" data-bind="value: title" placeholder="Title" class="span12" required />
            <textarea data-bind="value: content" rows="10" class="span12" required></textarea>
            <div class="row-fluid">
                <div class="btn-group">
                    <button 
                        class="btn btn-primary" 
                        data-bind="click: function () { return $parents[1].editWidget($data); }, enable: $data.canSave">
                        <i class="icon-white icon-ok"></i>&nbsp;Save
                    </button>
                </div>
                <div class="btn-group">
                    <button 
                        class="btn btn-primary"
                        data-bind="click: function () { return $parents[1].cancelWidget($data); }">
                        <i class="icon-white icon-remove-circle"></i>&nbsp;Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>