<div id="edit-mode-dashboards" class="view">
    
    <div class="span3" data-bind="template: {name: 'dashboard.catalog'}"></div>
    
    <div class="span4 well" data-bind="template: { name: 'dashboard.new' }"></div>
    
    @*<pre data-bind="text: ko.utils.debugInfo($root)"></pre>*@
</div>