<div id="view-mode-dashboards" class="view">
    <div class="span3" data-bind="template: {name: 'dashboard.catalog'}"></div>

    <div class="span9" data-bind="template: {name: 'widget.list', data: widgets}"></div>
    
    @*<pre data-bind="text: ko.utils.debugInfo($root)"></pre>*@
</div>